.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  background-color: aliceblue;
}
.navbar-logo {
  width: 50px;
}
.navbar-content {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
